In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset_social_technical_1d.csv')

In [3]:
df.head()

,date,SMA_ratio,SMA_Volume_Ratio,Stochastic_15,Stochastic_Ratio,RSI_15,RSI_ratio,MACD,price_pct_variation,title_vader_compound,title_roberta_neg,title_roberta_neu,title_roberta_pos
0,02/01/2017,0.977920,0.492545,97.353507,1.120103,72.819253,1.203449,-0.581692,0.005325,-0.16735,0.777352,0.212674,0.009974
1,03/01/2017,0.980867,0.742189,75.999927,0.982504,74.418628,0.745917,-0.467702,-0.012655,-0.15890,0.352967,0.593894,0.053139
2,04/01/2017,0.986854,0.853517,53.600042,0.811504,60.256465,0.399212,-0.265055,-0.016691,-0.17000,0.455775,0.529359,0.014867
3,05/01/2017,0.999960,1.239421,3.183555,0.595832,45.764364,0.145136,0.161075,-0.043195,0.44040,0.090196,0.465504,0.444300
4,06/01/2017,1.013771,1.492017,8.742321,0.412543,39.408387,0.153017,0.484190,-0.012355,0.09180,0.307789,0.220473,0.471738

In [4]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import  OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
# setting Jedha color palette as default
pio.templates["jedha"] = go.layout.Template(
    layout_colorway=["#4B9AC7", "#4BE8E0", "#9DD4F3", "#97FBF6", "#2A7FAF", "#23B1AB", "#0E3449", "#015955"]
)
pio.templates.default = "jedha"
pio.renderers.default = "iframe" # to be replaced by "iframe" if working on JULIE

In [5]:
num_features = df.loc[:, df.columns != 'date'].columns

In [6]:
num_features

Index(['SMA_ratio', 'SMA_Volume_Ratio', 'Stochastic_15', 'Stochastic_Ratio',
       'RSI_15', 'RSI_ratio', 'MACD', 'price_pct_variation',
       'title_vader_compound', 'title_roberta_neg', 'title_roberta_neu',
       'title_roberta_pos'],
      dtype='object')

In [7]:
for sz in num_features:
    print(sz)
    fig = px.histogram(df[sz])
    c = input('')
    fig.show()

SMA_ratio

 y

SMA_Volume_Ratio

 y

Stochastic_15

 y

Stochastic_Ratio

 y

RSI_15

 y

RSI_ratio

 y

MACD

 y

price_pct_variation

 y

title_vader_compound

 y

title_roberta_neg

 y

title_roberta_neu

 y

title_roberta_pos

 y

In [8]:
corr_matrix = df.corr().round(2)

In [9]:
import plotly.figure_factory as ff
fig = ff.create_annotated_heatmap(corr_matrix.values,
                                  x = corr_matrix.columns.tolist(),
                                  y = corr_matrix.index.tolist())
fig.show()

In [10]:
features_list = num_features
features_list = ['SMA_ratio', 'Stochastic_15', 'Stochastic_Ratio', 'RSI_15', 'MACD', 'title_vader_compound', 
                 'title_roberta_neg', 'title_roberta_neu', 'title_roberta_pos']

target_variable = ['price_pct_variation']

features_list
target_variable

['price_pct_variation']

In [11]:
features_list

['SMA_ratio',
 'Stochastic_15',
 'Stochastic_Ratio',
 'RSI_15',
 'MACD',
 'title_vader_compound',
 'title_roberta_neg',
 'title_roberta_neu',
 'title_roberta_pos']

In [12]:
target_variable

['price_pct_variation']

In [13]:
X = df.loc[:, features_list]
y = df.loc[:, target_variable]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [15]:
X_train.head()

,SMA_ratio,Stochastic_15,Stochastic_Ratio,RSI_15,MACD,title_vader_compound,title_roberta_neg,title_roberta_neu,title_roberta_pos
333,1.093056,3.846117,0.570785,25.952040,4.105239,0.106067,0.623900,0.364193,0.011907
317,0.965982,76.801406,0.797133,68.619795,-2.370400,-0.077200,0.968606,0.027719,0.003675
974,1.049984,35.245876,0.609594,30.901306,1.468646,-0.124390,0.305159,0.493739,0.201103
731,0.996851,41.975165,1.423084,42.553159,0.011529,0.004304,0.254884,0.642546,0.102570
535,1.046541,6.037731,0.894880,24.189808,1.821725,0.040906,0.318100,0.570485,0.111415

In [16]:
y_train.head()

     price_pct_variation
333            -0.030194
317            -0.020286
974             0.036319
731            -0.001020
535            -0.056815

In [17]:
X_test.head()

,SMA_ratio,Stochastic_15,Stochastic_Ratio,RSI_15,MACD,title_vader_compound,title_roberta_neg,title_roberta_neu,title_roberta_pos
1018,0.987348,62.192823,1.071867,63.079871,-1.070437,-0.019660,0.341417,0.601335,0.057248
1020,0.998891,33.746557,0.864440,42.403780,-0.580445,-0.152736,0.335263,0.612876,0.051861
870,1.004748,15.899618,0.257542,49.223950,0.303199,-0.081838,0.438562,0.466182,0.095255
184,0.978933,66.958697,0.608132,72.610276,-1.258680,0.000000,0.064481,0.884550,0.050968
686,0.964942,92.712536,1.084195,84.470949,-2.340089,0.070400,0.197935,0.628128,0.173937

In [18]:
y_test.head()

      price_pct_variation
1018            -0.003940
1020            -0.013680
870             -0.014930
184             -0.021123
686              0.005501

In [19]:
preprocessor = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])
X_train = preprocessor.fit_transform(X_train)
print(X_train[0:5,:]) # X_train is now a numpy array

[[ 2.8841753  -1.62921137 -1.21190414 -1.46549631  2.8537171   0.45687557
   1.69488874 -1.16842569 -1.0468112 ]
 [-1.07866467  0.79355821 -0.56223866  0.95523055 -1.60639065 -0.55789348
   3.71669153 -3.40140114 -1.12313575]
 [ 1.54095693 -0.58645789 -1.10051359 -1.18470299  1.03775927 -0.81919005
  -0.17462882 -0.30870792  0.70733271]
 [-0.11600663 -0.36298517  1.23436537 -0.52364277  0.03416697 -0.10659627
  -0.46950445  0.67884082 -0.2062243 ]
 [ 1.43359269 -1.55643014 -0.28168543 -1.56547538  1.2809425   0.09607469
  -0.09872408  0.20061589 -0.12421826]]

In [20]:
print(X_test.head())
print()
X_test = preprocessor.transform(X_test)

      SMA_ratio  Stochastic_15  Stochastic_Ratio     RSI_15      MACD  \
1018   0.987348      62.192823          1.071867  63.079871 -1.070437
1020   0.998891      33.746557          0.864440  42.403780 -0.580445
870    1.004748      15.899618          0.257542  49.223950  0.303199
184    0.978933      66.958697          0.608132  72.610276 -1.258680
686    0.964942      92.712536          1.084195  84.470949 -2.340089

      title_vader_compound  title_roberta_neg  title_roberta_neu  \
1018             -0.019660           0.341417           0.601335
1020             -0.152736           0.335263           0.612876
870              -0.081838           0.438562           0.466182
184               0.000000           0.064481           0.884550
686               0.070400           0.197935           0.628128

      title_roberta_pos
1018           0.057248
1020           0.051861
870            0.095255
184            0.050968
686            0.173937

In [21]:
print(X_test[0:5,:])

[[-4.12369278e-01  3.08422310e-01  2.26302735e-01  6.40926662e-01
  -7.11039052e-01 -2.39287746e-01  3.80372681e-02  4.05349099e-01
  -6.26431367e-01]
 [-5.24044783e-02 -6.36248724e-01 -3.69055981e-01 -5.32117710e-01
  -3.73556047e-01 -9.76147192e-01  1.94135247e-03  4.81939628e-01
  -6.76375157e-01]
 [ 1.30264705e-01 -1.22892710e+00 -2.11097472e+00 -1.45179883e-01
   2.35055079e-01 -5.83577186e-01  6.07824319e-01 -4.91582132e-01
  -2.74039394e-01]
 [-6.74788296e-01  4.66692049e-01 -1.10471246e+00  1.18162783e+00
  -8.40691593e-01 -1.30428018e-01 -1.58627647e+00  2.28487997e+00
  -6.84649118e-01]
 [-1.11108643e+00  1.32195037e+00  2.61685514e-01  1.85453530e+00
  -1.58551388e+00  2.59385045e-01 -8.03528424e-01  5.83155747e-01
   4.55462935e-01]]

In [22]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [23]:
y_train_pred = regressor.predict(X_train)
y_test_pred = regressor.predict(X_test)

In [24]:
print(y_train_pred[0:10])

[[ 0.00366128]
 [ 0.01018119]
 [ 0.01016707]
 [-0.01022534]
 [-0.01092076]
 [-0.00275642]
 [ 0.01791754]
 [ 0.00775023]
 [-0.00321302]
 [-0.01199836]]

In [25]:
print(y_train[0:10])

      price_pct_variation
333             -0.030194
317             -0.020286
974              0.036319
731             -0.001020
535             -0.056815
898              0.003879
311              0.009636
605              0.004392
503             -0.017424
1126            -0.010968

In [26]:
y_test_pred[0:10]

array([[ 0.00186488],
       [-0.00933249],
       [-0.01588655],
       [ 0.00258611],
       [ 0.01083089],
       [-0.00280251],
       [-0.00643792],
       [-0.02363929],
       [-0.00488798],
       [ 0.00973342]])

In [27]:
print(y_test[0:10])

      price_pct_variation
1018            -0.003940
1020            -0.013680
870             -0.014930
184             -0.021123
686              0.005501
938             -0.002834
568             -0.000892
893             -0.020575
431             -0.019575
465              0.026936

In [28]:
print("R2 score on training set : ", r2_score(y_train, y_train_pred))
print("R2 score on test set : ", r2_score(y_test, y_test_pred))

R2 score on training set :  0.28970204276094846
R2 score on test set :  0.31038390631832125

In [29]:
X_train[0:10]

array([[ 2.8841753 , -1.62921137, -1.21190414, -1.46549631,  2.8537171 ,
         0.45687557,  1.69488874, -1.16842569, -1.0468112 ],
       [-1.07866467,  0.79355821, -0.56223866,  0.95523055, -1.60639065,
        -0.55789348,  3.71669153, -3.40140114, -1.12313575],
       [ 1.54095693, -0.58645789, -1.10051359, -1.18470299,  1.03775927,
        -0.81919005, -0.17462882, -0.30870792,  0.70733271],
       [-0.11600663, -0.36298517,  1.23436537, -0.52364277,  0.03416697,
        -0.10659627, -0.46950445,  0.67884082, -0.2062243 ],
       [ 1.43359269, -1.55643014, -0.28168543, -1.56547538,  1.2809425 ,
         0.09607469, -0.09872408,  0.20061589, -0.12421826],
       [-0.28521533,  0.1381383 ,  1.54948907, -0.59645148,  0.22674249,
        -0.15534505, -0.01508575,  0.49160184, -0.66295919],
       [-0.87063654,  1.41851785,  0.11123063,  1.70095888, -1.90376868,
        -0.13042802, -0.38256619,  0.32293618,  0.15357405],
       [ 0.26791934,  0.25607136,  0.29391915,  0.33976989,  0.18119324,
         0.01385344,  0.63669078, -0.21580882, -0.70494656],
       [-0.12792632, -0.38363334, -1.36634342,  0.2860565 , -0.26274482,
        -0.18999158,  2.00533347, -1.54689644, -1.00879423],
       [ 0.43654407, -0.96305344,  0.05591234, -0.68783604,  0.56158087,
        -0.04951689,  0.17295614,  0.33401036, -0.74003858]])

In [30]:
X.head()

,SMA_ratio,Stochastic_15,Stochastic_Ratio,RSI_15,MACD,title_vader_compound,title_roberta_neg,title_roberta_neu,title_roberta_pos
0,0.977920,97.353507,1.120103,72.819253,-0.581692,-0.16735,0.777352,0.212674,0.009974
1,0.980867,75.999927,0.982504,74.418628,-0.467702,-0.15890,0.352967,0.593894,0.053139
2,0.986854,53.600042,0.811504,60.256465,-0.265055,-0.17000,0.455775,0.529359,0.014867
3,0.999960,3.183555,0.595832,45.764364,0.161075,0.44040,0.090196,0.465504,0.444300
4,1.013771,8.742321,0.412543,39.408387,0.484190,0.09180,0.307789,0.220473,0.471738

In [31]:
y.head()

   price_pct_variation
0             0.005325
1            -0.012655
2            -0.016691
3            -0.043195
4            -0.012355

In [32]:
print("R2 score on training set : ", r2_score(y_train, y_train_pred))
print("R2 score on test set : ", r2_score(y_test, y_test_pred))

R2 score on training set :  0.28970204276094846
R2 score on test set :  0.31038390631832125

In [36]:
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import Lasso
from sklearn.model_selection import cross_val_score, GridSearchCV

In [37]:
# Perform 3-fold cross-validation to evaluate the generalized R2 score obtained with a Ridge model
print("3-fold cross-validation...")
regressor = Ridge()
scores = cross_val_score(regressor, X_train, y_train, cv=3)
print('The cross-validated R2-score is : ', scores.mean())
print('The standard deviation is : ', scores.std())

3-fold cross-validation...
The cross-validated R2-score is :  0.2719207284580618
The standard deviation is :  0.05017040563160976

In [41]:
# Perform grid search
print("Grid search...")
regressor = Lasso(alpha=0.1)
# Grid of values to be tested
params = {
    'alpha': [0.0, 0.1, 0.5, 1.0] # 0 corresponds to no regularization
}
gridsearch = GridSearchCV(regressor, param_grid = params, cv = 3) # cv : the number of folds to be used for CV
gridsearch.fit(X_train, y_train)
print("...Done.")
print("Best hyperparameters : ", gridsearch.best_params_)
print("Best R2 score : ", gridsearch.best_score_)

Grid search...
...Done.
Best hyperparameters :  {'alpha': 0.0}
Best R2 score :  0.27159549225628526

/opt/conda/lib/python3.9/site-packages/sklearn/model_selection/_validation.py:680: UserWarning:

With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator

/opt/conda/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:647: UserWarning:

Coordinate descent with no regularization may lead to unexpected results and is discouraged.

/opt/conda/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning:

Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.271e-01, tolerance: 3.627e-05 Linear regression models with null weight for the l1 regularization term are more efficiently fitted using one of the solvers implemented in sklearn.linear_model.Ridge/RidgeCV instead.

/opt/conda/lib/python3.9/site-packages/sklearn/model_selection/_validation.py:680: UserWarning:

With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator

/opt/conda/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:647: UserWarning:

Coordinate descent with no regularization may lead to unexpected results and is discouraged.

/opt/conda/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning:

Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.328e-01, tolerance: 3.627e-05 Linear regression models with null weight for the l1 regularization term are more efficiently fitted using one of the solvers implemented in sklearn.linear_model.Ridge/RidgeCV instead.

/opt/conda/lib/python3.9/site-packages/sklearn/model_selection/_validation.py:680: UserWarning:

With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator

/opt/conda/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:647: UserWarning:

Coordinate descent with no regularization may lead to unexpected results and is discouraged.

/opt/conda/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning:

Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.820e-02, tolerance: 2.606e-05 Linear regression models with null weight for the l1 regularization term are more efficiently fitted using one of the solvers implemented in sklearn.linear_model.Ridge/RidgeCV instead.

/opt/conda/lib/python3.9/site-packages/sklearn/model_selection/_search.py:926: UserWarning:

With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator

/opt/conda/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:647: UserWarning:

Coordinate descent with no regularization may lead to unexpected results and is discouraged.

/opt/conda/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning:

Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.752e-01, tolerance: 4.931e-05 Linear regression models with null weight for the l1 regularization term are more efficiently fitted using one of the solvers implemented in sklearn.linear_model.Ridge/RidgeCV instead.

In [ ]:
# Print R^2 scores
print("R2 score on training set : ", gridsearch.score(X_train, y_train))
print("R2 score on test set : ", gridsearch.score(X_test, y_test))