## Extracting information

In [1]:
## Extracting information

In [2]:
!pip install yfinance -q

     |████████████████████████████████| 62 kB 546 kB/s

In [3]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt

import yfinance as yf

#extracting data from Yahoo Finance API
tickers = ['UBI.PA']
all_data = pd.DataFrame()
test_data = pd.DataFrame()
no_data = []

for i in tickers:
    try:
        test_data = yf.download(tickers=i, start='2016-10-01', end='2022-08-10', interval='1d')
        #test_data.index = test_data.index.tz_convert(None) # 1h
        test_data['symbol'] = i
        all_data = all_data.append(test_data)
    except:
        no_data.append(i)

[*********************100%***********************]  1 of 1 completed

In [4]:
all_data

,Open,High,Low,Close,Adj Close,Volume,symbol
Date,,,,,,,
2016-10-03,33.189999,34.590000,33.154999,34.355000,34.355000,245969,UBI.PA
2016-10-04,34.400002,34.490002,33.900002,34.025002,34.025002,163777,UBI.PA
2016-10-05,33.889999,33.924999,33.549999,33.680000,33.680000,290799,UBI.PA
2016-10-06,33.695000,33.889999,33.400002,33.435001,33.435001,261117,UBI.PA
2016-10-07,33.549999,33.549999,33.000000,33.070000,33.070000,218806,UBI.PA
...,...,...,...,...,...,...,...
2022-08-03,40.259998,42.080002,40.180000,42.080002,42.080002,634621,UBI.PA
2022-08-04,42.240002,50.919998,41.869999,46.689999,46.689999,2784524,UBI.PA
2022-08-05,47.130001,48.240002,45.880001,46.450001,46.450001,1056769,UBI.PA
2022-08-08,46.799999,47.080002,45.369999,46.270000,46.270000,654129,UBI.PA
2022-08-09,46.310001,46.560001,44.470001,44.910000,44.910000,446044,UBI.PA

In [5]:
# Lowercase column names
all_data.rename(columns={"Open": "open", "High": "high", "Low": "low", "Close": "close", "Volume":"volume"}, inplace=True)
all_data.rename_axis('date', inplace=True)

In [6]:
#Creating Return column
all_data['return'] = all_data.groupby('symbol')['close'].pct_change()

In [7]:
all_data.shape

(1500, 8)

In [8]:
all_data['date_copy'] = all_data.index.to_list()

In [9]:
all_data

,open,high,low,close,Adj Close,volume,symbol,return,date_copy
date,,,,,,,,,
2016-10-03,33.189999,34.590000,33.154999,34.355000,34.355000,245969,UBI.PA,NaN,2016-10-03
2016-10-04,34.400002,34.490002,33.900002,34.025002,34.025002,163777,UBI.PA,-0.009606,2016-10-04
2016-10-05,33.889999,33.924999,33.549999,33.680000,33.680000,290799,UBI.PA,-0.010140,2016-10-05
2016-10-06,33.695000,33.889999,33.400002,33.435001,33.435001,261117,UBI.PA,-0.007274,2016-10-06
2016-10-07,33.549999,33.549999,33.000000,33.070000,33.070000,218806,UBI.PA,-0.010917,2016-10-07
...,...,...,...,...,...,...,...,...,...
2022-08-03,40.259998,42.080002,40.180000,42.080002,42.080002,634621,UBI.PA,0.045206,2022-08-03
2022-08-04,42.240002,50.919998,41.869999,46.689999,46.689999,2784524,UBI.PA,0.109553,2022-08-04
2022-08-05,47.130001,48.240002,45.880001,46.450001,46.450001,1056769,UBI.PA,-0.005140,2022-08-05
2022-08-08,46.799999,47.080002,45.369999,46.270000,46.270000,654129,UBI.PA,-0.003875,2022-08-08
2022-08-09,46.310001,46.560001,44.470001,44.910000,44.910000,446044,UBI.PA,-0.029393,2022-08-09

In [10]:
close_1 = []
open_1 = []
date_1 = []
volume_1 = []

for i in range(0, all_data.shape[0]-1):
    # get row contents as series using iloc{]
    # and index position of row
    close_1.append(all_data.iloc[i+1]['close'])
    open_1.append(all_data.iloc[i+1]['open'])
    date_1.append(all_data.iloc[i+1]['date_copy'])
    volume_1.append(all_data.iloc[i+1]['volume'])

close_1.append(np.nan)
open_1.append(np.nan)
date_1.append(np.nan)
volume_1.append(np.nan)

In [11]:
all_data['date_1'] = date_1
all_data['close_1'] = close_1
all_data['open_1'] = open_1
all_data['volume_1'] = volume_1
all_data['return_1'] = (all_data['close_1'] - all_data['open_1'])/all_data['open_1']

In [12]:
all_data

,open,high,low,close,Adj Close,volume,symbol,return,date_copy,date_1,close_1,open_1,volume_1,return_1
date,,,,,,,,,,,,,,
2016-10-03,33.189999,34.590000,33.154999,34.355000,34.355000,245969,UBI.PA,NaN,2016-10-03,2016-10-04,34.025002,34.400002,163777.0,-0.010901
2016-10-04,34.400002,34.490002,33.900002,34.025002,34.025002,163777,UBI.PA,-0.009606,2016-10-04,2016-10-05,33.680000,33.889999,290799.0,-0.006196
2016-10-05,33.889999,33.924999,33.549999,33.680000,33.680000,290799,UBI.PA,-0.010140,2016-10-05,2016-10-06,33.435001,33.695000,261117.0,-0.007716
2016-10-06,33.695000,33.889999,33.400002,33.435001,33.435001,261117,UBI.PA,-0.007274,2016-10-06,2016-10-07,33.070000,33.549999,218806.0,-0.014307
2016-10-07,33.549999,33.549999,33.000000,33.070000,33.070000,218806,UBI.PA,-0.010917,2016-10-07,2016-10-10,33.400002,33.099998,138403.0,0.009064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-03,40.259998,42.080002,40.180000,42.080002,42.080002,634621,UBI.PA,0.045206,2022-08-03,2022-08-04,46.689999,42.240002,2784524.0,0.105350
2022-08-04,42.240002,50.919998,41.869999,46.689999,46.689999,2784524,UBI.PA,0.109553,2022-08-04,2022-08-05,46.450001,47.130001,1056769.0,-0.014428
2022-08-05,47.130001,48.240002,45.880001,46.450001,46.450001,1056769,UBI.PA,-0.005140,2022-08-05,2022-08-08,46.270000,46.799999,654129.0,-0.011325
2022-08-08,46.799999,47.080002,45.369999,46.270000,46.270000,654129,UBI.PA,-0.003875,2022-08-08,2022-08-09,44.910000,46.310001,446044.0,-0.030231
2022-08-09,46.310001,46.560001,44.470001,44.910000,44.910000,446044,UBI.PA,-0.029393,2022-08-09,NaT,NaN,NaN,NaN,NaN

## SMA

In [13]:
all_data['SMA_5'] = all_data.groupby('symbol')['close'].transform(lambda x: x.rolling(window = 5).mean())
all_data['SMA_15'] = all_data.groupby('symbol')['close'].transform(lambda x: x.rolling(window = 15).mean())
all_data['SMA_ratio'] = all_data['SMA_15'] / all_data['SMA_5']

In [14]:
all_data['SMA5_Volume'] = all_data.groupby('symbol')['volume'].transform(lambda x: x.rolling(window = 5).mean())
all_data['SMA15_Volume'] = all_data.groupby('symbol')['volume'].transform(lambda x: x.rolling(window = 15).mean())
all_data['SMA_Volume_Ratio'] = all_data['SMA5_Volume']/all_data['SMA15_Volume']

## Stochastic

In [15]:
all_data['Lowest_5D'] = all_data.groupby('symbol')['low'].transform(lambda x: x.rolling(window = 5).min())
all_data['High_5D'] = all_data.groupby('symbol')['high'].transform(lambda x: x.rolling(window = 5).max())
all_data['Lowest_15D'] = all_data.groupby('symbol')['low'].transform(lambda x: x.rolling(window = 15).min())
all_data['High_15D'] = all_data.groupby('symbol')['high'].transform(lambda x: x.rolling(window = 15).max())

all_data['Stochastic_5'] = ((all_data['close'] - all_data['Lowest_5D'])/(all_data['High_5D'] - all_data['Lowest_5D']))*100
all_data['Stochastic_15'] = ((all_data['close'] - all_data['Lowest_15D'])/(all_data['High_15D'] - all_data['Lowest_15D']))*100

all_data['Stochastic_%D_5'] = all_data['Stochastic_5'].rolling(window = 5).mean()
all_data['Stochastic_%D_15'] = all_data['Stochastic_5'].rolling(window = 15).mean()

all_data['Stochastic_Ratio'] = all_data['Stochastic_%D_5']/all_data['Stochastic_%D_15']

## RSI

In [16]:
all_data['Diff'] = all_data.groupby('symbol')['close'].transform(lambda x: x.diff())
all_data['Up'] = all_data['Diff']
all_data.loc[(all_data['Up']<0), 'Up'] = 0

all_data['Down'] = all_data['Diff']
all_data.loc[(all_data['Down']>0), 'Down'] = 0 
all_data['Down'] = abs(all_data['Down'])

all_data['avg_5up'] = all_data.groupby('symbol')['Up'].transform(lambda x: x.rolling(window=5).mean())
all_data['avg_5down'] = all_data.groupby('symbol')['Down'].transform(lambda x: x.rolling(window=5).mean())

all_data['avg_15up'] = all_data.groupby('symbol')['Up'].transform(lambda x: x.rolling(window=15).mean())
all_data['avg_15down'] = all_data.groupby('symbol')['Down'].transform(lambda x: x.rolling(window=15).mean())

all_data['RS_5'] = all_data['avg_5up'] / all_data['avg_5down']
all_data['RS_15'] = all_data['avg_15up'] / all_data['avg_15down']

all_data['RSI_5'] = 100 - (100/(1+all_data['RS_5']))
all_data['RSI_15'] = 100 - (100/(1+all_data['RS_15']))

all_data['RSI_ratio'] = all_data['RSI_5']/all_data['RSI_15']

In [17]:
all_data['5Ewm'] = all_data.groupby('symbol')['close'].transform(lambda x: x.ewm(span=5, adjust=False).mean())
all_data['15Ewm'] = all_data.groupby('symbol')['close'].transform(lambda x: x.ewm(span=15, adjust=False).mean())
all_data['MACD'] = all_data['15Ewm'] - all_data['5Ewm']

In [18]:
all_data

,open,high,low,close,Adj Close,volume,symbol,return,date_copy,date_1,...,avg_15up,avg_15down,RS_5,RS_15,RSI_5,RSI_15,RSI_ratio,5Ewm,15Ewm,MACD
date,,,,,,,,,,,,,,,,,,,,,
2016-10-03,33.189999,34.590000,33.154999,34.355000,34.355000,245969,UBI.PA,NaN,2016-10-03,2016-10-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.355000,34.355000,0.000000
2016-10-04,34.400002,34.490002,33.900002,34.025002,34.025002,163777,UBI.PA,-0.009606,2016-10-04,2016-10-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.245000,34.313750,0.068750
2016-10-05,33.889999,33.924999,33.549999,33.680000,33.680000,290799,UBI.PA,-0.010140,2016-10-05,2016-10-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.056667,34.234531,0.177864
2016-10-06,33.695000,33.889999,33.400002,33.435001,33.435001,261117,UBI.PA,-0.007274,2016-10-06,2016-10-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.849445,34.134590,0.285145
2016-10-07,33.549999,33.549999,33.000000,33.070000,33.070000,218806,UBI.PA,-0.010917,2016-10-07,2016-10-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.589630,34.001516,0.411886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-03,40.259998,42.080002,40.180000,42.080002,42.080002,634621,UBI.PA,0.045206,2022-08-03,2022-08-04,...,0.404667,0.318000,1.895707,1.272537,65.466116,55.996322,1.169115,41.335168,41.276080,-0.059088
2022-08-04,42.240002,50.919998,41.869999,46.689999,46.689999,2784524,UBI.PA,0.109553,2022-08-04,2022-08-05,...,0.712000,0.262667,4.466254,2.710658,81.705936,73.050604,1.118484,43.120112,41.952820,-1.167292
2022-08-05,47.130001,48.240002,45.880001,46.450001,46.450001,1056769,UBI.PA,-0.005140,2022-08-05,2022-08-08,...,0.712000,0.254000,3.641714,2.803149,78.456234,73.705998,1.064448,44.230075,42.514967,-1.715107
2022-08-08,46.799999,47.080002,45.369999,46.270000,46.270000,654129,UBI.PA,-0.003875,2022-08-08,2022-08-09,...,0.630000,0.266000,3.136587,2.368420,75.825479,70.312493,1.078407,44.910050,42.984347,-1.925703
2022-08-09,46.310001,46.560001,44.470001,44.910000,44.910000,446044,UBI.PA,-0.029393,2022-08-09,NaT,...,0.630000,0.351333,3.612362,1.793169,78.319135,64.198369,1.219955,44.910033,43.225053,-1.684980

In [19]:
all_data.columns

Index(['open', 'high', 'low', 'close', 'Adj Close', 'volume', 'symbol',
       'return', 'date_copy', 'date_1', 'close_1', 'open_1', 'volume_1',
       'return_1', 'SMA_5', 'SMA_15', 'SMA_ratio', 'SMA5_Volume',
       'SMA15_Volume', 'SMA_Volume_Ratio', 'Lowest_5D', 'High_5D',
       'Lowest_15D', 'High_15D', 'Stochastic_5', 'Stochastic_15',
       'Stochastic_%D_5', 'Stochastic_%D_15', 'Stochastic_Ratio', 'Diff', 'Up',
       'Down', 'avg_5up', 'avg_5down', 'avg_15up', 'avg_15down', 'RS_5',
       'RS_15', 'RSI_5', 'RSI_15', 'RSI_ratio', '5Ewm', '15Ewm', 'MACD'],
      dtype='object')

In [20]:
Dataset_columns = [#'SMA_5', 
                   'SMA_15', 
                   'SMA_ratio',
                   #'ATR_5','ATR_15','ATR_Ratio',
                   #'ADX_5','ADX_15',
                   'SMA15_Volume',
                   'SMA_Volume_Ratio',
                   #'Stochastic_5',
                   'Stochastic_15',
                   'Stochastic_Ratio',
                   #'RSI_5',
                   'RSI_15',
                   'RSI_ratio',
                   'MACD',
                   'date_1',
                   'close', 
                   'close_1',
                   'volume_1',
                   'return', 
                   'return_1']

In [21]:
all_data1 = all_data[Dataset_columns]
all_data1 = all_data1.rename_axis('date').reset_index(level=0)

In [22]:
all_data1['return'] = all_data1['return'] * 100
all_data1['return_1'] = all_data1['return_1'] * 100
all_data1 = all_data1.rename(columns={"return": "price_pct_variation", "return_1": "price_pct_variation_1"})

In [23]:
#all_data1 = all_data1[all_data1['date']>'2018-01-01']
#all_data1['date'] = all_data1['date'].dt.strftime('%Y-%m-%d')

In [24]:
#all_data1.to_csv('ubisoft_technical_dataset_1d.csv', index=False)

In [25]:
Dataset_columns1 = ['date_1',
                   'close_1',
                   'volume_1',
                   'SMA_15', 
                   'SMA_ratio',
                   'SMA15_Volume',
                   'SMA_Volume_Ratio',
                   'Stochastic_15',
                   'Stochastic_Ratio',
                   'RSI_15',
                   'RSI_ratio',
                   'MACD',
                   'price_pct_variation_1']

In [26]:
all_data2 = all_data1[Dataset_columns1]

In [27]:
all_data2 = all_data2.rename(columns={"date_1": "date", "close_1":"close", "volume_1":"volume", "price_pct_variation_1": "price_pct_variation"})

In [28]:
all_data2 = all_data2[all_data2['date']>'2018-01-01']
all_data2['date'] = all_data2['date'].dt.strftime('%Y-%m-%d')

In [29]:
all_data2.to_csv('ubisoft_technical_dataset_1d.csv', index=False)